@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
  --violet: #020623;
}

@theme inline {
  --color-pc-white: var(--white);
  --color-pc-black: var(--black);
  --color-pc-violet: var(--violet);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
